<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Create Fun Fact - PetFax</title>
</head>
<body>
    <h1>Create Fun Fact</h1>
    <form action="{{ url_for('pet.create') }}" method="POST">
        <label for="fun_fact">Fun Fact:</label><br>
        <textarea id="fun_fact" name="fun_fact" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Submit">
    </form>

